@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* background slideshow styling */

ul {
  list-style-type: none;
}

.cb-slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: whitesmoke;
  animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div p { 
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  padding: 0;
}

.cb-slideshow li:nth-child(1) span { 
  background-image: url('austin-ellis.jpg'); 
  animation-delay: -6s;
}
.cb-slideshow li:nth-child(2) span { 
  background-image: url('hunt.jpg');
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: url('owens.jpg');
  animation-delay: 18s; 
}

.cb-slideshow li:nth-child(1) div {
  animation-delay: -6s;
}
.cb-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
  animation-delay: 18s; 
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  17% { opacity: 1; animation-timing-function: ease-out; }
  34% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes titleAnimation { 
  0% { opacity: 0 }
  17% { opacity: 1 }
  34% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 0 }
}

@media screen and (max-width: 2300px) { 
  .cb-slideshow li div p { font-size: 2em; }
}

/* header styling */

a {
  text-decoration: none;
}

header {
  position: relative;
}

.page-header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 7fr 3fr;
}


.logo {
  font-family: 'Damion', cursive;
  color: whitesmoke;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 14em;
}

.logo:hover {
  color: darkgrey;
}

#link-container {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.4em;
}

#link-container a {
  font-family: 'Roboto', sans-serif;
  font-size: 4.25em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: whitesmoke;
}

#link-container a:hover {
  color: darkgrey;
}

.icon {
  display: none;
}

@media screen and (max-width: 2300px) {
  #link-container {
    justify-content: center;
  }
  
  #link-container a {
    display: none;
  }

  #link-container > a.icon {
    display: block;
    color: whitesmoke;
    align-self: center;

  }
}

@media screen and (max-width: 2300px) {
  #link-container {
    flex-direction: column;
  }
  
  #link-container.responsive {
    position: relative;
  }

  #link-container.responsive a {
    float: none;
    display: block;
    align-self: center;
    padding-top: .4em;
  }

  #link-container.responsive a.icon {
    margin-top: 1.7em;
  }
}

/* footer styling */

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.page-footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 4.25em;
  color: whitesmoke;
  padding-bottom: 1.5em;
}

@media screen and (max-width: 2300px) { 
  .page-footer p { font-size: 3em; }
}