@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header styling */

a {
  text-decoration: none;
}

header {
  position: relative;
}

.page-header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 7fr 3fr;
}


.logo {
  font-family: 'Damion', cursive;
  color: whitesmoke;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 4em;
}

.logo:hover {
  color: darkgrey;
}

#link-container {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.4em;
}

#link-container a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: whitesmoke;
}

#link-container a:hover {
  color: darkgrey;
}

.icon {
  display: none;
}

@media screen and (max-width: 700px) {
  #link-container {
    justify-content: center;
  }
  
  #link-container a {
    display: none;
  }

  #link-container > a.icon {
    display: block;
    color: whitesmoke;
    align-self: center;

  }
}

@media screen and (max-width: 700px) {
  #link-container {
    flex-direction: column;
  }
  
  #link-container.responsive {
    position: relative;
  }

  #link-container.responsive a {
    float: none;
    display: block;
    align-self: center;
    padding-top: .4em;
  }

  #link-container.responsive a.icon {
    margin-top: 0.65em;
  }
}

/* footer styling */

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.page-footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: whitesmoke;
  padding-bottom: 1.5em;
}

@media screen and (max-width: 950px) { 
  .page-footer p { 
    font-size: 1em;
    padding-bottom: 1.75em;
  }
}