@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* background styling */

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  background-image: url('latawa.jpg');
  opacity: 0.8;
}

div#credit { 
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}
div#credit p { 
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  padding: 0;
}

@media screen and (max-width: 950px) { 
  div#credit p { font-size: 1em; }
}

/* header styling */

a {
  text-decoration: none;
}

header {
  position: relative;
}

.page-header {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 7fr 3fr;
}


.logo {
  font-family: 'Damion', cursive;
  color: whitesmoke;
  grid-area: 1 / 1 / 2 / 2;
  font-size: 4em;
}

.logo:hover {
  color: darkgrey;
}

#link-container {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.4em;
}

#link-container a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: whitesmoke;
}

#link-container a:hover {
  color: darkgrey;
}

.icon {
  display: none;
}

@media screen and (max-width: 700px) {
  #link-container {
    justify-content: center;
  }
  
  #link-container a {
    display: none;
  }

  #link-container > a.icon {
    display: block;
    color: whitesmoke;
    align-self: center;

  }
}

@media screen and (max-width: 700px) {
  #link-container {
    flex-direction: column;
  }
  
  #link-container.responsive {
    position: relative;
  }

  #link-container.responsive a {
    float: none;
    display: block;
    align-self: center;
    padding-top: .4em;
  }

  #link-container.responsive a.icon {
    margin-top: 0.65em;
  }
}

/* main styling */

main {
  position: relative;
  color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  padding-right: 2.5em;
  padding-left: 2.5em;
  padding-top: 2.5em;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 40% 60%;
}

main h2 {
  font-size: 3em;
  grid-area: 1 / 1 / 2 / 3;
}

main h4 {
  grid-area: 2 / 1 / 3 / 2;
}

@media screen and (max-width: 600px) {
  main h4 {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@media screen and (max-width: 500px) {
  main h2 {
    font-size: 2.5em;
  }
}
/* footer styling */

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.page-footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: whitesmoke;
  padding-bottom: 1.5em;
}

@media screen and (max-width: 950px) { 
  .page-footer p { 
    font-size: 1em;
    padding-bottom: 1.75em;
  }
}